# Node
node_modules
.next
dist
.turbo

# Local env files
.env
.env.*
apps/api/.env
apps/web/.env
apps/web/.env.*

# Python
.venv
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# OS/Editor
.DS_Store
.idea
.vscode
apps/api/migrations/versions/
apps/api/pyproject.toml.bak.2026-01-20-193848
data/
